<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Importe css---->
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>Estou logado</h1>

    <form action="/logout" method="GET">
      <!-- Formulário para fazer logout -->
      <button type="submit">Logout</button>
      <!-- Botão de logout -->
    </form>
  </body>
</html>
