<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/noticia/style.css" rel="stylesheet">

    <title>{{noticia.titulo}}</title>
  </head>

  <body class="container">
    <!--Menu-->
    <header class="header">
      <div class="nav-container">
        <div class="logo">
          <a href="/">
            <h2>Blog</h2>
            <h1>+Esportes</h1>
          </a>
        </div>
        <a href="/" class="button-entrar">Voltar</a>
      </div>
    </header>

    <main class="main-container">
      <article class="noticia">
        <h1 class="titulo">{{noticia.titulo}}</h1>
        <div class="info">
          <p><strong>Categoria:</strong> {{noticia.categoria}}</p>
          <p><strong>Autor:</strong> {{noticia.autor}}</p>
          <p><strong>Data:</strong> {{noticia.date}}</p>
        </div>
        <div class="resumo">{{noticia.resumo}}</div>
        <div class="imagem">
          {{#noticia.image}}
            <img src="/uploads/{{noticia.image}}" alt="{{noticia.titulo}}" />
          {{/noticia.image}}
        </div>
        <div class="conteudo">{{noticia.conteudo}}</div>
      </article>
    </main>
  </body>
</html>
